<!-- <div class="instance-images">
  <img ng-src="{{img}}"
       class="phone"
       ng-repeat="img in instance.images"
       ng-class="{active: mainImageUrl==img}">
</div> -->

<h1>{{instance.id}}</h1>

<p>{{instance.creator}}</p>

<!-- <ul class="instance-thumbs">
  <li ng-repeat="img in instance.images">
    <img ng-src="{{img}}" ng-click="setImage(img)">
  </li>
</ul> -->

<ul class="specs">
<!--  <li>
    <span>Availability and Networks</span>
    <dl>
      <dt>Availability</dt>
      <dd ng-repeat="availability in phone.availability">{{availability}}</dd>
    </dl>
  </li> -->
  <li>
    <span>Battery</span>
    <dl>
      <dt>Creator</dt>
      <dd>{{instance.creator}}</dd>
      <dt>Date Created</dt>
      <dd>{{instance.ctime}}</dd>
      <dt>Host</dt>
      <dd><a href="#/hosts/{{instance.host}}">{{instance.host}}</a></dd>
      <dt>ID</dt>
      <dd>{{instance.id}}</dd>
      <dt>Memory</dt>
      <dd>{{instance.mem_limit}}</dd>
      <dt>CPUs</dt>
      <dd>{{instance.num_cpus}}</dd>
      <dt>Provider</dt>
      <dd>{{instance.provider}}</dd>
      <dt>Status</dt>
      <dd>{{instance.status}}</dd>
    </dl>
  </li>
<!--  <li>
    <span>Storage and Memory</span>
    <dl>
      <dt>RAM</dt>
      <dd>{{phone.storage.ram}}</dd>
      <dt>Internal Storage</dt>
      <dd>{{phone.storage.flash}}</dd>
    </dl>
  </li>
  <li>
    <span>Connectivity</span>
    <dl>
      <dt>Network Support</dt>
      <dd>{{phone.connectivity.cell}}</dd>
      <dt>WiFi</dt>
      <dd>{{phone.connectivity.wifi}}</dd>
      <dt>Bluetooth</dt>
      <dd>{{phone.connectivity.bluetooth}}</dd>
      <dt>Infrared</dt>
      <dd>{{phone.connectivity.infrared | checkmark}}</dd>
      <dt>GPS</dt>
      <dd>{{phone.connectivity.gps | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Android</span>
    <dl>
      <dt>OS Version</dt>
      <dd>{{phone.android.os}}</dd>
      <dt>UI</dt>
      <dd>{{phone.android.ui}}</dd>
    </dl>
  </li>
  <li>
    <span>Size and Weight</span>
    <dl>
      <dt>Dimensions</dt>
      <dd ng-repeat="dim in phone.sizeAndWeight.dimensions">{{dim}}</dd>
      <dt>Weight</dt>
      <dd>{{phone.sizeAndWeight.weight}}</dd>
    </dl>
  </li>
  <li>
    <span>Display</span>
    <dl>
      <dt>Screen size</dt>
      <dd>{{phone.display.screenSize}}</dd>
      <dt>Screen resolution</dt>
      <dd>{{phone.display.screenResolution}}</dd>
      <dt>Touch screen</dt>
      <dd>{{phone.display.touchScreen | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Hardware</span>
    <dl>
      <dt>CPU</dt>
      <dd>{{phone.hardware.cpu}}</dd>
      <dt>USB</dt>
      <dd>{{phone.hardware.usb}}</dd>
      <dt>Audio / headphone jack</dt>
      <dd>{{phone.hardware.audioJack}}</dd>
      <dt>FM Radio</dt>
      <dd>{{phone.hardware.fmRadio | checkmark}}</dd>
      <dt>Accelerometer</dt>
      <dd>{{phone.hardware.accelerometer | checkmark}}</dd>
    </dl>
  </li>
  <li>
    <span>Camera</span>
    <dl>
      <dt>Primary</dt>
      <dd>{{phone.camera.primary}}</dd>
      <dt>Features</dt>
      <dd>{{phone.camera.features.join(', ')}}</dd>
    </dl>
  </li>
  <li>
    <span>Additional Features</span>
    <dd>{{phone.additionalFeatures}}</dd>
  </li> -->
</ul>
