<!-- <div class="container-fluid"> -->
<!--   <div class="row"> -->
<!--     <div class="col-md-2"> -->
<!--       <\!--Sidebar content-\-> -->

<!--       Search: <input ng-model="query"> -->
<!--       Sort by: -->
<!--       <select ng-model="orderProp"> -->
<!--         <option value="name">Alphabetical</option> -->
<!--         <option value="age">Newest</option> -->
<!--       </select> -->

<!--     </div> -->
<!--     <div class="col-md-10"> -->
<!--       <\!--Body content-\-> -->


      <!-- <ul class="phones"> -->
      <!--   <li ng-repeat="phone in phones | filter:query | orderBy:orderProp" class="thumbnail phone-listing"> -->
      <!--     <a href="#/phones/{{phone.id}}" class="thumb"><\!-- <img ng-src="{{phone.imageUrl}}"> -\-></a> -->
      <!--     <a href="#/phones/{{phone.id}}">{{phone.name}}</a> -->
      <!--     <p>{{phone.snippet}}</p> -->
      <!--   </li> -->
      <!-- </ul> -->

      <div class="table-responsive">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <td>ID</td>
	      <td>Name</td>
	      <td>Snippet</td>
	    </tr>
	  </thead>
	  <tbody>
            <tr ng-repeat="phone in phones | filter:query | orderBy:orderProp">
              <td><a href="#/phones/{{phone.id}}">{{phone.id}}</a></td>
              <td>{{phone.name}}</td>
              <td>{{phone.snippet}}</td>
	    </tr>
	  </tbody>
	</table>
      </div>

<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
